<div class="login-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Cambio de contraseña</mat-card-title>
            <mat-card-subtitle>Ingresa tu correo para blanquear tu password</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <form action="" (ngSubmit)="submit($event)">
            <mat-form-field  appearance="fill">
                <mat-label>Ingresa tu email</mat-label>
                <input matInput placeholder="email@example.com" [formControl]="email" required>
                <mat-error *ngIf="email && email.errors?.['required']">Requerido</mat-error>
                <mat-error *ngIf="email && email.errors?.['invalid']">Email inválido</mat-error>
              </mat-form-field>

              <button [disabled]="email.invalid || proccessing" mat-raised-button color="primary">Cambiar contraseña</button>
            </form>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
    </mat-card>
</div>