
<div class="usefuldata-container">
    <form [formGroup]="form" (ngSubmit)="submit($event)">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Dato útil</mat-card-title>
          <mat-card-subtitle>Ingrese los datos dato</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
  
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="data" required>
            <mat-error *ngIf="data && data.errors?.['required']">Requerido</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="description" required>
            <mat-error *ngIf="description && description.errors?.['required']">Requerido</mat-error>
          </mat-form-field>          
  
          <app-contacts-creator [contacts]="usefulData.contacts"></app-contacts-creator>

          <button  [disabled]="!form.valid" mat-raised-button color="primary">Guardar</button>
  
        </mat-card-content>
        <mat-card-actions>
  
        </mat-card-actions>
      </mat-card>
    </form>
  </div>