<section class="partners-section">
  <h1 class="partners-title">Nuestros Aliados Comprometidos</h1>
  <p class="partners-intro">Gracias al invaluable apoyo de quienes comparten nuestra visión, podemos seguir cambiando
    vidas.</p>

  <div class="partners-grid">
    <div class="partner-item">
      <a href="https://mascovita.com" target="_blank">
        <img src="assets/colaborators/colaborator-mascovita.webp" alt="Logo de Mascovita" class="partner-logo">
        <p class="partner-name">Mascovita</p>
      </a>
    </div>
    <div class="partner-item">
      <a href="https://taquionit.com">
        <img src="assets/colaborators/colaborator-taquion.png" alt="Logo de Taquion" class="partner-logo">
        <p class="partner-name">Taquión IT</p>
      </a>
    </div>
    <div class="partner-item">
      <a href="https://enzosam.github.io/portfolio/">
        <img src="assets/colaborators/logo-same.png" alt="Logo de Same Devs" class="partner-logo">
        <p class="partner-name">Same Devs</p>
      </a>
    </div>   
    <div class="partner-item">
      <a href="https://wa.me/5493751601330/?text=Hola!%20Estoy%20interesado%20en%20impresiones%203d" target="_blank">
        <img src="assets/colaborators/copycolaborator.webp" alt="Logo de Copy3d" class="partner-logo">
        <p class="partner-name">El Copy 3D</p>
      </a>
    </div>     
  </div>
</section>