<section class="partners-section">
  <h1 class="partners-title">Nuestros Aliados Comprometidos</h1>
  <p class="partners-intro">Gracias al invaluable apoyo de quienes comparten nuestra visión, podemos seguir cambiando
    vidas.</p>

  <div class="partners-grid">
    <div class="partner-item">
      <a href="https://mascovita.com" target="_blank">
        <img src="assets/colaborators/colaborator-mascovita.webp" alt="Logo de Mascovita" class="partner-logo">
        <p class="partner-name">Mascovita</p>
      </a>
    </div>
    <div class="partner-item">
      <a href="https://taquionit.com" target="_blank">
        <img src="assets/colaborators/prana-colaborator.png" alt="Logo de Prana" class="partner-logo">
        <p class="partner-name">Prana Gestión</p>
      </a>
    </div>
    <div class="partner-item">
      <a href="https://taquionit.com">
        <img src="assets/colaborators/colaborator-taquion.png" alt="Logo de Taquion" class="partner-logo">
        <p class="partner-name">Taquión IT</p>
      </a>
    </div>
    <div class="partner-item">
      <a href="https://enzosam.github.io/portfolio/">
        <img src="assets/colaborators/logo-same.png" alt="Logo de Same Devs" class="partner-logo">
        <p class="partner-name">Same Devs</p>
      </a>
    </div>    
  </div>
</section>