<h1>Acerca de nosotros</h1>
<p>
    Bienvenidos a nuestro refugio de adopción y rescate de animales. Somos una organización sin fines de lucro dedicada a brindar una segunda oportunidad a los animales necesitados.
</p>
<p>
    Nuestra misión es rescatar, rehabilitar y reubicar a animales en hogares amorosos y permanentes. Creemos firmemente en el vínculo especial entre los animales y las personas, y trabajamos incansablemente para asegurar que cada animal bajo nuestro cuidado reciba el amor, el respeto y la atención que merece.
</p>
<p>
    Nuestro equipo está compuesto por apasionados defensores de los animales que están comprometidos a hacer una diferencia. Gracias por unirte a nosotros en esta misión y por creer en el poder del amor y la compasión.
</p>