<div class="atributes-container">
    <div class="atribute-group">
        @for (a of types; track a.id) {
        <mat-slide-toggle (change)="onFilterToogle()" [(ngModel)]="a.checked" color="primary">
            {{a.name}}
        </mat-slide-toggle>
        }
    </div>

    <div class="atribute-group">
        @for (a of genders; track a.id) {
        <mat-slide-toggle (change)="onFilterToogle()" [(ngModel)]="a.checked" color="primary">
            {{a.name}}
        </mat-slide-toggle>
        }
    </div>

    <div class="atribute-group">
        @for (a of ages; track a.id) {
        <mat-slide-toggle (change)="onFilterToogle()" [(ngModel)]="a.checked" color="primary">
            {{a.name}}
        </mat-slide-toggle>
        }
    </div>

    <mat-divider></mat-divider>

    <mat-radio-group color="primary" (change)="onFilterToogle()"
     [(ngModel)]="filterState" *ngIf="isAdmin">
        
        <mat-radio-button 
            [value]="postStetes.Published" name="rdoPublished">
            Publicados
        </mat-radio-button>

        <mat-radio-button
            [value]="postStetes.PendingReview" name="pendings">
            En revision
        </mat-radio-button>
        
        <mat-radio-button
            [value]="postStetes.Rejected" name="rejecteds">
            Rechazados
        </mat-radio-button> 

    </mat-radio-group>
</div>