.atributes-container
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.atribute-group
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

mat-slide-toggle
{
    width: 100px;
}
