<mat-drawer-container class="component-with-nav-container" autosize>
    <mat-drawer class="dashboard-menu" #drawer mode="side" opened>

        <div class="filter-header">
            <h4>Filtros</h4>
            <mat-icon *ngIf="drawer.opened" #btnClose autosize class="close-sidebar" type="button" mat-button
                (click)="drawer.toggle()">
                close
            </mat-icon>
        </div>

        <div class="atributes-container">
            <div>
                @for (a of types; track a.id) {
                <mat-slide-toggle (change)="onAtributeToogle(a)" [(ngModel)]="a.checked" color="primary">
                    {{a.name}}
                </mat-slide-toggle>
                }
            </div>

            <div>
                @for (a of genders; track a.id) {
                <mat-slide-toggle (change)="onAtributeToogle(a)" [(ngModel)]="a.checked" color="primary">
                    {{a.name}}
                </mat-slide-toggle>
                }
            </div>

            <div>
                @for (a of ages; track a.id) {
                <mat-slide-toggle (change)="onAtributeToogle(a)" [(ngModel)]="a.checked" color="primary">
                    {{a.name}}
                </mat-slide-toggle>
                }
            </div>
        </div>
    </mat-drawer>

    <div>
        <mat-icon id="filter-icon" *ngIf="!drawer.opened" #btnOpen color="primary" type="button" mat-button (click)="drawer.toggle()">
            filter_alt
        </mat-icon>

    </div>


</mat-drawer-container>