<h4>Filtro</h4>
<div class="atributes-container">
    <div>
        @for (a of types; track a.id) {
        <mat-slide-toggle [(ngModel)]="a.checked" color="primary">
            {{a.name}}
        </mat-slide-toggle>
        }
    </div>

    <div>
        @for (a of genders; track a.id) {
        <mat-slide-toggle [(ngModel)]="a.checked" color="primary">
            {{a.name}}
        </mat-slide-toggle>
        }
    </div>

    <div>
        @for (a of ages; track a.id) {
        <mat-slide-toggle [(ngModel)]="a.checked" color="primary">
            {{a.name}}
        </mat-slide-toggle>
        }
    </div>
</div>