.publication-card-container
{
    width: 300px;
    min-height: 350px;
    cursor: pointer;
    
}
.publication-card-container:hover
{
    transform: scale(102%);
}

#post-image
{
    object-fit: cover;
    max-width: 300px;
    max-height: 250px;

    min-width: 300px;
    min-height: 250px;
}

mat-card-actions
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}