<mat-card [routerLink]="['../' + pathDetail, publication.id]" *ngIf="publication" class="publication-card-container">
  <mat-card-header>
    <mat-card-title>{{publication.title}}</mat-card-title>
    <mat-card-subtitle>Perro</mat-card-subtitle>
  </mat-card-header>
  <img id="post-image" mat-card-image [src]="getUrlImage()" [alt]="publication.title">
  <mat-card-content>
    <p>
      {{publication.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>