.select-type-container
{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
}

.atribute-for-create{
    min-width: 170px;
}

mat-card
{
    cursor: pointer;
}

img{
    object-fit: cover;
}