.popup-container
{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 50px;
    margin-right: 50px;
    position: absolute;
    top: 80px;
    left: 0px;
    align-items: center;
    justify-content: center;
    z-index: 1000;    
}

button{
    height: auto;
    padding: 10px;
}