<section class="slider-container">
    
    <img class="slider-image" src="../../../assets/slider/slider2.jpg" alt="slider1">    
    
    <div class="phrases-container">
        <h1 class="first-prhase">Adoptá</h1>
        <h1 class="second-phrase">No compres</h1>
        <div>
            La felicidad de muchos animales en la calle está en tus manos
        </div>
        <div>
            Hecha un vistazo a los animales en adopción, de seguro que enamorarás de alguno.
        </div>
        <button id="btnAdopt" mat-flat-button color="primary"
        routerLink="/publications">
            Adoptá a uno de mis compas
        </button>
    </div>
    
</section>