<section class="hero-slider">
  <div class="hero-image-overlay"></div>
  <img class="hero-image" src="../../../../assets/slider/slider2.webp" alt="Perro y gato felices">

  <div class="hero-content">
    <h1 class="hero-title">Adoptar es amor</h1>
    <h2 class="hero-subtitle">Cambia una vida, cambia la tuya</h2>
    <p class="hero-description">
      Hay incontables corazones peludos esperando un hogar lleno de cariño.
      ¡Tu próximo mejor amigo podría estar esperándote justo aquí!
    </p>
    <p class="hero-description">
      Anímate a explorar nuestros adorables compañeros y encuentra a ese ser especial que llenará tus días de alegría.
    </p>
    <button mat-flat-button color="primary" routerLink="/publications" class="call-to-action-button">
      ¡Quiero conocerlos!
    </button>
  </div>
</section>