nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

mat-toolbar {
  gap: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.app-title {
  flex-grow: 1;
  padding-left: 5px;
}

#mobile-menu-button {
  display: none;
}

img {
  height: 50px;
  width: auto;
  transition: transform 0.3s ease;
}

.logo-link, .title-link {
   flex-grow: 1;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 600px) {
  #mobile-menu-button {
    display: block;
  }

  .lg-menu
  {
    display: none;
  }

  .app-title {
    padding-left: 5px;
  }

  mat-toolbar {
    gap: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }  

  .menu-item
  {
    min-width:  100%;
  }
}
