<nav>
    <mat-toolbar color="primary">
        <a [routerLink]="['/home']" class="logo-link">
        <img src="assets/logo-comunidad-mascovita.webp" alt="Logo Comunidad Mascovita">        
        <h1 class="app-title">Comunidad Mascovita</h1>
        </a>
        <div class="lg-menu">
            <button mat-button routerLink="home">Inicio</button>
            <button mat-button routerLink="publications">Adopción</button>
            <button mat-button routerLink="publications/lost">Extraviados</button>
            <button mat-button routerLink="useful-data">Datos útiles</button>
            <!--button mat-button routerLink="contact">Contacto</button>-->
        </div>
        <app-user-menu></app-user-menu>

        <button id="mobile-menu-button" mat-icon-button [matMenuTriggerFor]="mobileMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #mobileMenu="matMenu">
            <button class="menu-item" mat-menu-item routerLink="home">Inicio</button>
            <button class="menu-item" mat-menu-item routerLink="publications">Adopcion</button>
            <button class="menu-item" mat-menu-item routerLink="publications/lost">Extraviados</button>
            <button class="menu-item" mat-menu-item routerLink="useful-data">Datos útiles</button>
            <!--button class="menu-item" mat-menu-item routerLink="contact">Contacto</button>-->
        </mat-menu>
    </mat-toolbar>
</nav>