.publication-detail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  height: calc(100vh - 65px);
}

.animal-data-container {
  overflow: hidden;
  flex-grow: 1;
}

.publication-image {
  display: flex;
  object-fit: cover;
  display: flex;
}

app-post-user-detail {
  display: flex;
  width: 400px;
  flex-grow: 0;
}
