.find-animal-container{
    color: black;
    display: flex;
    flex-direction: row;
    min-height: 100%;
    min-width: 100%;
}

.animal-list
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#list
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.publications-footer
{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

