.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
 .mat-mdc-form-field {
    margin-top: 16px;
  }

  .finish-container
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
  }

  mat-stepper
  {
    margin-top: 20px;
  }