.publications-list-container
{
    display: flex;
    flex-direction: column;
}

.publications-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}

.publication-header
{
    display: flex;
    flex-direction: row;
    padding-right: 55px;
}

.list-title
{
    flex-grow: 1;
}