.publications-list-container
{
    display: flex;
    flex-direction: column;
}

.publications-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.publication-header
{
    display: flex;
    flex-direction: row;
    padding-right: 55px;
    margin-bottom: 20px;
}

h1
{
    flex-grow: 1;
    text-align: center;
}

.list-title
{
    flex-grow: 1;
}
