<mat-drawer-container class="component-with-nav-container" autosize>
    <mat-drawer class="dashboard-menu" #drawer mode="side" opened>
        <mat-icon #btnClose autosize class="close-sidebar" 
        type="button" mat-button (click)="drawer.toggle()">
            close
        </mat-icon>

        <button mat-menu-item [routerLink]="['./' + paths.atributes]">
            <mat-icon>workspaces</mat-icon>
            <span>Atributos</span>
        </button>
        <button mat-menu-item [routerLink]="['./' + paths.zone]">
            <mat-icon>flag</mat-icon>
            <span>Zonas</span>
        </button>        
        <button mat-menu-item [routerLink]="['./' + paths.usefulData]">
            <mat-icon>import_contacts</mat-icon>
            <span>Datos utiles</span>
        </button>
        <button  mat-menu-item>
            <mat-icon>group</mat-icon>
            <span>Usuarios</span>
        </button>
    </mat-drawer>

    <div>       
        <mat-icon #btnOpen type="button" mat-button (click)="drawer.toggle()">
            menu
        </mat-icon>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>