#btnUpload{
    display: inline-block;
    padding: 8px 15px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
  }

#btnUpload:hover {
    background-color: #eee;
  }  

img
{
  cursor: pointer;
  object-fit: cover;
}

.upload-spinner-container{
display: flex;
  justify-content: center;
  align-items: center;
}

.disabled-label {
  opacity: 0.6; 
  cursor: not-allowed; 
  pointer-events: none; 
}

.disabled-avatar {
  opacity: 0.6;
  cursor: not-allowed;
  filter: grayscale(100%); 
}

.no-avatar-icon
{
 font-size: 36px;
  height: 36px;
  width: 36px;
}