#btnUpload{
    display: inline-block;
    padding: 8px 15px;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
  }

#btnUpload:hover {
    background-color: #eee;
  }  

img
{
  cursor: pointer;
  object-fit: cover;
}